@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;500&display=swap');

body {
  font-family: 'Urbanist', sans-serif;
}
h1,h2,h4,h5{
  font-family: 'Urbanist', sans-serif;
  font-weight: 500;
  color:#2ecc71;
}

h3{
  font-family: 'Urbanist', sans-serif;
  font-weight: 500;
  color: gold;
}

.buscar{
  width: 80%;
  margin:auto;
  display:flex;
  padding:0rem;
  gap: 1rem;
}

.gradiente{
  background: rgb(81,234,114);
  background: radial-gradient(circle, rgba(81,234,114,1) 0%, rgba(46,204,113,1) 100%);
}
